body{
    height:100%;
    background-image: linear-gradient(to right, red , yellow);
    padding:0;
    margin:0;
    font-family:'Times New Roman', Times, serif;
}
.calculator{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 75vh;
    min-height:500px;
    padding:10px;
    margin-top:50px;
    align-items: center;

}
.screen{
    padding: 10px 20px;
    border:2px #eee solid;
    border-radius:5px;
    /* margin-bottom: 20px; */
    background-color:rgba(202, 21, 21, 0.22);
    text-align: right;
    word-wrap:break-word;
    word-break:break-all;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 1;
    justify-content: space-between;
}
.previous-operand{
    opacity: 75%;
    font-size: 1.5rem;
}
.current-operand{
    font-size: 2.5rem;
}
.pads{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.number{
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    
}
.clear{
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}
#del{
    grid-column:4;
    grid-row-start: 2;
    grid-row-end: 4;
}
#clear{
    grid-column: 4;
    grid-row-start:4;
    grid-row-end:6;
}

button:hover{
    opacity: .95;
}