body{
    height:100%;
    background-color: #fcde67;
    padding:0;
    margin:0;
    font-family:'Times New Roman', Times, serif;
}
.calculator{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 75vh;
    min-height:500px;
    padding:10px;
    margin-top:50px;
    align-items: center;

}
.screen{
    border: 2px solid #111;
    padding: 20px 20px;
    height:40px;
    opacity: 0.80;
    background-color: #ffffff;
    text-align: right;
    word-wrap:break-word;
    word-break:break-all;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 1;
    justify-content: space-between;
}
.previous-operand{
    opacity: 75%;
    font-size: 1.5rem;
}
.current-operand{
    font-size: 2.5rem;
}
.pads{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.number{
     align-items: center;
     border: 2px solid #111;
     box-sizing: border-box;
     color: #111;
     cursor: pointer;
     display: flex;
     font-family: Inter,sans-serif;
     font-size: 16px;
     height: 48px;
     justify-content: center;
     line-height: 24px;
     max-width: 100%;
     padding: 0 25px;
     position: relative;
     text-align: center;
     text-decoration: none;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     background-color: #5bccf6;
}
.clear{
    align-items: center;
    border: 2px solid #111;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: #ed7966;
}
#del{
    grid-column:4;
    grid-row-start: 2;
    grid-row-end: 4;
}
#clear{
    grid-column: 4;
    grid-row-start:4;
    grid-row-end:6;
}

button:hover{
    opacity: .95;
}
/* button{
   background-color: #5bccf6;
} */